/* .content {
  --slice-color: var(--table-color);
  --legend-height: 150px;
}

.legend {
  .full-table-legend {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--full-table-color);

    button {
      font-size: 0.8em;
      border: var(--border-width) solid var(--full-table-color);
      border-bottom: none;
      background-color: transparent;
      color: var(--full-table-color);
      cursor: pointer;
    }
  }
  .table-legend {
    color: var(--slice-color);
  }
  .canvas-legend {
    color: var(--canvas-color);
  }
}

.explanation {
  --table-color: var(--full-table-color);

  .full-table {
    visibility: hidden;
  }

  .wrapper {
    --table-color: var(--slice-color);
    position: absolute;
    width: 100%;
    top: 0;
  }
} */
