:root {
  /* From https://developer.mozilla.org/en-US/docs/Web/CSS/font-family#some_common_font_families */
  --serif-font: Times, Times New Roman, Georgia, serif;
  --sans-font: Verdana, Arial, Helvetica, sans-serif;
  --mono-font: Lucida Console, Courier, monospace;
}

html,
body {
  margin: 0;
  font-size: 1rem;
  font-family: var(--sans-font);
}

main {
  box-sizing: border-box;
  max-width: 45em;
  padding: 2rem 0;
  margin: 0 auto;
  background: white;
}

.three-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  max-width: 12em;
  font-size: 0.8em;
}

.card-title {
  font-weight: 600;
}

.card-description {
}

a {
  color: #000;
}
a:visited {
  color: #444;
}
a:hover,
a:active {
  color: #000;
}

.gray,
.gray a {
  color: #666;
}
.gray a:hover,
.gray a:active {
  color: #000;
}

dt {
  margin-top: 0.5em;
}
dd {
  font-size: 0.9em;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  padding-bottom: 1rem;

  p.date {
    color: #666;
  }
}

@media print {
  a {
    text-decoration: none;
  }
}
