:root {
  /* From https://developer.mozilla.org/en-US/docs/Web/CSS/font-family#some_common_font_families */
  --serif-font: Times, Times New Roman, Georgia, serif;
  --sans-font: Verdana, Arial, Helvetica, sans-serif;
  --mono-font: Lucida Console, Courier, monospace;
}

html,
body {
  margin: 0;
  font-size: 1rem;
  font-family: var(--sans-font);
  line-height: 1.3;
}

table {
  border: solid 1px black;
  border-collapse: collapse;
}

th,
td {
  border: solid 1px black;
  text-align: left;
}

th {
  background: #ddd;
  padding: 0.4em 0.5em;
}
td {
  vertical-align: top;
  padding: 0.2em 0.5em;
}

main {
  box-sizing: border-box;
  max-width: 45em;
  padding: 2rem 1rem;
  margin: 0 auto;
  background: white;
}

.three-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  max-width: 12em;
  font-size: 0.8em;
}

.card-title {
  font-weight: 600;
}

.card-description {
}

a {
  color: #000;
}
a:visited {
  color: #444;
}
a:hover,
a:active {
  color: #000;
}

.gray,
.gray a {
  color: #666;
}
.gray a:hover,
.gray a:active {
  color: #000;
}

dt {
  margin-top: 0.5em;
}
dd {
  font-size: 0.9em;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  padding-bottom: 1rem;

  p.date {
    color: #666;
  }
}

code {
  font-family: var(--mono-font);
  font-size: 0.9em;
  background: #fce7aa;
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
}

@media print {
  a {
    text-decoration: none;
  }
}
