:root {
  /* From https://developer.mozilla.org/en-US/docs/Web/CSS/font-family#some_common_font_families */
  --serif-font: Times, Times New Roman, Georgia, serif;
  --sans-font: Verdana, Arial, Helvetica, sans-serif;
  --mono-font: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  --color-1: hsl(0, 0%, 12.2%);
  --color-2: hsl(40.7, 52.9%, 66.7%);
  --color-3: hsl(207.2, 61%, 58.8%);
  --color-4: hsl(0, 0%, 80%);
  --color-5: hsl(334.7, 60.7%, 67.1%);
  --dark-color: var(--color-1);
  --light-color: var(--color-4);
  --table-color: var(--color-2);
  --viewport-color: var(--color-3);
  --full-table-color: var(--color-5);
}

html,
body {
  margin: 0;
  font-family: var(--sans-font);
  font-size: 1rem;
  line-height: 1.75;
}

table {
  border: solid 1px black;
  border-collapse: collapse;
}

th,
td {
  border: solid 1px black;
  text-align: left;
}

th {
  background: #ddd;
  padding: 0.4em 0.5em;
}
td {
  vertical-align: top;
  padding: 0.2em 0.5em;
}

main {
  box-sizing: border-box;
  max-width: 45em;
  padding: 2rem 1rem;
  margin: 0 auto;
  background: white;
}

.three-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  max-width: 12em;
  font-size: 0.8em;
}

.card-title {
  font-weight: 600;
}

.card-description {
}

a {
  color: #000;
}
a:visited {
  color: #444;
}
a:hover,
a:active {
  color: #000;
}

.gray,
.gray a {
  color: #666;
}
.gray a:hover,
.gray a:active {
  color: #000;
}

dt {
  margin-top: 0.5em;
}
dd {
  font-size: 0.9em;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  padding-bottom: 1rem;

  p.date {
    color: #666;
  }
}

@media print {
  a {
    text-decoration: none;
  }
}

/* for blog post about virtual scrolling */
span {
  &.viewport {
    border-bottom: 2px solid var(--viewport-color);
  }
  &.table {
    border-bottom: 2px solid var(--table-color);
  }
  &.full-table {
    border-bottom: 2px solid var(--full-table-color);
  }
}

/* don't affect code blocks inside pre (```) */
:not(pre) > code {
  font-family: var(--mono-font);
  background: var(--dark-color);
  color: var(--light-color);
  /* font-weight: bold; */
  border-radius: 0.3em;
  padding: 3px 5px 4px;
  white-space: nowrap;

  /* for blog post about virtual scrolling */
  &.viewport,
  .viewport {
    border: revert;
    color: var(--viewport-color);
  }
  &.table,
  .table {
    border: revert;
    color: var(--table-color);
  }
  &.full-table,
  .full-table {
    border: revert;
    color: var(--full-table-color);
  }
}
