---
import BlogsGallery from "@components/BlogsGallery.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { SITE_DESCRIPTION } from "@lib/consts";
---

<BaseLayout title="Blog — Sylvain Lesage" description={SITE_DESCRIPTION}>
  <header>
    <p>＜ <a href="/">Home</a></p>
    <h1>Blog posts</h1>
  </header>

  <BlogsGallery />

  <p>Subscribe to the <a href="/feed.xml">RSS feed</a>.</p>
</BaseLayout>
