---
import { type CollectionEntry, getCollection, render } from "astro:content";
import WorksGallery, { type Entry } from "../../components/WorksGallery.astro";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";

export async function getStaticPaths() {
  const references = await getCollection("references");
  return references.map((reference) => ({
    params: { slug: reference.id },
    props: reference,
  }));
}
type Props = CollectionEntry<"references">;

const reference = Astro.props;
const { name } = reference.data;
const { Content } = await render(reference);
---

<html lang="en">
  <head>
    <BaseHead title={name} description={""} />
  </head>

  <body>
    <main>
      <header>
        <h1>{name}</h1>
      </header>
      <Content />

      <h2>Portfolio</h2>
      <WorksGallery
        filter={(entry: Entry) => entry.reference?.id === reference.id}
      />
    </main>
  </body><Footer />
</html>
