---
import { type CollectionEntry, getCollection, render } from "astro:content";
import WorksGallery, { type Entry } from "../../components/WorksGallery.astro";
import WideLayout from "../../layouts/WideLayout.astro";
import ObjectHeader from "../../components/ObjectHeader.astro";

export async function getStaticPaths() {
  const tags = await getCollection("tags");
  return tags.map((tag) => ({
    params: { slug: tag.id },
    props: tag,
  }));
}
type Props = CollectionEntry<"tags">;

const tag = Astro.props;
const { id: tagId } = tag;
const { name } = tag.data;
const { Content } = await render(tag);
---

<WideLayout title={`${name} — Tags — Sylvain Lesage`} description={""}>
  <ObjectHeader
    title={name}
    backLink={{ href: "/tags", label: "Tags" }}
    type="Tag"
  />
  <Content />

  <h2>Works</h2>
  <WorksGallery
    filter={(entry: Entry) =>
      entry.tags?.some(
        (tag) => tag.id === tagId && tag.collection === "tags",
      ) ?? false}
  />
</WideLayout>
