---
import { SITE_DESCRIPTION } from "../../consts";
import WideLayout from "../../layouts/WideLayout.astro";
import Tag from "../../components/Tag.astro";

import { getCollection } from "astro:content";
const tags = await getCollection("tags");
---

<WideLayout title={"Tags - Sylvain Lesage"} description={SITE_DESCRIPTION}>
  <h1>Tags</h1>

  {tags.map((tag) => <Tag id={tag.id} collection={tag.collection} />)}
</WideLayout>
