---
import { getCollection } from "astro:content";
import TagGroup from "@components/TagGroup.astro";
import WideLayout from "@layouts/WideLayout.astro";
import { SITE_DESCRIPTION } from "@lib/consts";

const tagGroups = await getCollection("tagGroups");
---

<WideLayout title="Tags — Sylvain Lesage" description={SITE_DESCRIPTION}>
  <header>
    <p>＜ <a href="/">Home</a></p>
    <h1>Tags</h1>
  </header>

  <p>
    I use tags to categorize my past works and the blog posts. Every tag has its
    own page, showing the related content (try <a href="/tags/javascript"
      >JavaScript</a
    > for example). I group the tags into a few categories that give a high-level
    overview of my profile.
  </p>

  <div class="tag-groups">
    {tagGroups.map(({ id }) => <TagGroup id={id} />)}
  </div>
</WideLayout>

<style>
  .tag-groups {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
    gap: 2em;
  }
</style>
