---
import BaseFigure from "./BaseFigure.astro";

interface Props {
  id: string;
  href?: string;
}

const { id, href } = Astro.props;
---

{
  href ? (
    <a class="figure-link" href={href}>
      <BaseFigure id={id} />
    </a>
  ) : (
    <BaseFigure id={id} />
  )
}

<style>
  .figure-link {
    margin: 0 auto;
  }
</style>
