---
import BaseFigure from "./BaseFigure.astro";

interface Props {
  id: string;
  href?: string;
}

const { id, href } = Astro.props;
---

{
  href ? (
    <a href={href}>
      <BaseFigure id={id} />
    </a>
  ) : (
    <BaseFigure id={id} />
  )
}
