<footer>
  <p>
    Sylvain Lesage · <a href="/#contact">Contact</a> · <a href="/resume"
      >Resume</a
    > · <a href="/works">Portfolio</a> · <a href="/blog/">Blog</a> (<a
      href="/feed.xml">RSS</a
    >)
  </p>
</footer>
<style>
  footer {
    flex-shrink: 0;
    max-width: 45em;
    padding: 2rem 1rem;
    margin: 0 auto;
    font-size: 0.8em;
    color: #666;
  }
</style>
