---
import Tag from "@components/Tag.astro";
interface Props {
  ids: string[];
  fontSize?: string;
}

const { ids, fontSize } = Astro.props;
---

<div class="tags-list">
  {ids.map((id) => <Tag collection="tags" id={id} fontSize={fontSize} />)}
</div>

<style>
  .tags-list {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
</style>
